$whiteColor: #fff;
$primaryColor: #3f5d45;
$secondaryColor: #8da291;
$tertiaryColor: #eaf0ed;
$specialColor: #ffe180;

$tablet-portrait: '(max-width: 900px)' !default;
$phone: '(max-width: 600px)' !default;
